In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
import time

In [2]:
df=pd.read_csv("F:\Work\diease detection\chronic-1.csv")

In [3]:
df=df.replace('?',np.nan)

In [4]:
data=df[['sg','al','su','bgr','bu','sc','pot','hemo','pcv','rbcc','rbc','htn',
         'dm','appet','Label']].copy()

In [5]:
#df1=df.drop(columns=['id','age','bp','sg','al','su','bgr','bu','sc','sod','pot','hemo','pcv','wbcc','rbcc'])

In [6]:
data

,sg,al,su,bgr,bu,sc,pot,hemo,pcv,rbcc,rbc,htn,dm,appet,Label
0,1.02,1,0,121,36,1.2,NaN,15.4,44,5.2,NaN,yes,yes,good,ckd
1,1.02,4,0,NaN,18,0.8,NaN,11.3,38,NaN,NaN,no,no,good,ckd
2,1.02,0,0,92,19,1.2,4.8,14.9,48,5.4,normal,no,no,good,notckd
3,1.01,2,3,423,53,1.8,NaN,9.6,31,NaN,normal,no,yes,poor,ckd
4,1.005,4,0,117,56,3.8,2.5,11.2,32,3.9,normal,yes,no,poor,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,1.02,0,0,91,36,0.7,3.7,14,46,5.8,normal,no,no,good,notckd
396,1.015,3,2,463,64,2.8,4.1,12.2,40,4.6,NaN,yes,yes,good,ckd
397,NaN,NaN,NaN,103,79,5.3,6.3,6.3,19,2.6,NaN,yes,no,poor,ckd
398,1.015,3,0,106,215,15.2,5.7,8.6,26,2.5,abnormal,yes,no,good,ckd
399,1.02,0,0,119,15,0.7,4.9,NaN,NaN,NaN,normal,no,no,good,notckd

In [7]:
df1=data.drop(columns=['rbc','htn','dm','appet','Label'])

In [8]:
df1

        sg   al   su  bgr   bu    sc  pot  hemo  pcv rbcc
0     1.02    1    0  121   36   1.2  NaN  15.4   44  5.2
1     1.02    4    0  NaN   18   0.8  NaN  11.3   38  NaN
2     1.02    0    0   92   19   1.2  4.8  14.9   48  5.4
3     1.01    2    3  423   53   1.8  NaN   9.6   31  NaN
4    1.005    4    0  117   56   3.8  2.5  11.2   32  3.9
..     ...  ...  ...  ...  ...   ...  ...   ...  ...  ...
395   1.02    0    0   91   36   0.7  3.7    14   46  5.8
396  1.015    3    2  463   64   2.8  4.1  12.2   40  4.6
397    NaN  NaN  NaN  103   79   5.3  6.3   6.3   19  2.6
398  1.015    3    0  106  215  15.2  5.7   8.6   26  2.5
399   1.02    0    0  119   15   0.7  4.9   NaN  NaN  NaN

[400 rows x 10 columns]

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [10]:
lr=LinearRegression()
imp=IterativeImputer(estimator=lr,verbose=2,max_iter=100, tol=1e-10, imputation_order='roman')

In [11]:
df2=imp.fit_transform(df1)

[IterativeImputer] Completing matrix with shape (400, 10)
[IterativeImputer] Ending imputation round 1/100, elapsed time 0.24
[IterativeImputer] Change: 194.42773069065566, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 2/100, elapsed time 0.27
[IterativeImputer] Change: 26.634120503513486, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 3/100, elapsed time 0.29
[IterativeImputer] Change: 14.075694478097791, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 4/100, elapsed time 0.31
[IterativeImputer] Change: 9.689471569115462, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 5/100, elapsed time 0.32
[IterativeImputer] Change: 7.38604820786321, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 6/100, elapsed time 0.34
[IterativeImputer] Change: 5.587107811009005, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 7/100, elapsed time 0.36
[IterativeImputer] Change: 4.231635060632768, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 8/100, elapsed time 0.38
[IterativeImputer] Change: 3.2186694412623, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 9/100, elapsed time 0.40
[IterativeImputer] Change: 2.460231581255524, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 10/100, elapsed time 0.41
[IterativeImputer] Change: 1.889478660143968, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 11/100, elapsed time 0.43
[IterativeImputer] Change: 1.4575183703750798, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 12/100, elapsed time 0.46
[IterativeImputer] Change: 1.1288276323432784, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 13/100, elapsed time 0.48
[IterativeImputer] Change: 0.8774869344131232, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 14/100, elapsed time 0.49
[IterativeImputer] Change: 0.6844415821227982, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 15/100, elapsed time 0.51
[IterativeImputer] Change: 0.5355735961214124, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 16/100, elapsed time 0.52
[IterativeImputer] Change: 0.42034779172521974, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 17/100, elapsed time 0.54
[IterativeImputer] Change: 0.33085334621426454, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 18/100, elapsed time 0.55
[IterativeImputer] Change: 0.2611177963588709, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 19/100, elapsed time 0.56
[IterativeImputer] Change: 0.2066106313351812, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 20/100, elapsed time 0.58
[IterativeImputer] Change: 0.16388056940524587, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 21/100, elapsed time 0.60
[IterativeImputer] Change: 0.13028831065940982, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 22/100, elapsed time 0.62
[IterativeImputer] Change: 0.10380825921759962, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 23/100, elapsed time 0.64
[IterativeImputer] Change: 0.08288055176174458, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 24/100, elapsed time 0.67
[IterativeImputer] Change: 0.06630007667762561, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 25/100, elapsed time 0.68
[IterativeImputer] Change: 0.05313287513593601, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 26/100, elapsed time 0.69
[IterativeImputer] Change: 0.04265292495145434, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 27/100, elapsed time 0.72
[IterativeImputer] Change: 0.034294168812851966, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 28/100, elapsed time 0.74
[IterativeImputer] Change: 0.027613990615108386, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 29/100, elapsed time 0.75
[IterativeImputer] Change: 0.022265320187462856, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 30/100, elapsed time 0.76
[IterativeImputer] Change: 0.01797526274559047, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 31/100, elapsed time 0.78
[IterativeImputer] Change: 0.014528677640551546, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 32/100, elapsed time 0.79
[IterativeImputer] Change: 0.011755522501938453, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 33/100, elapsed time 0.81
[IterativeImputer] Change: 0.009521070519600161, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 34/100, elapsed time 0.84
[IterativeImputer] Change: 0.007718326269561371, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 35/100, elapsed time 0.86
[IterativeImputer] Change: 0.006262128778977805, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 36/100, elapsed time 0.88
[IterativeImputer] Change: 0.005084553244681045, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 37/100, elapsed time 0.90
[IterativeImputer] Change: 0.004131315122919532, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 38/100, elapsed time 0.91
[IterativeImputer] Change: 0.003358950267247307, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 39/100, elapsed time 0.93
[IterativeImputer] Change: 0.002732597552706051, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 40/100, elapsed time 0.95
[IterativeImputer] Change: 0.002224250697816066, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 41/100, elapsed time 0.97
[IterativeImputer] Change: 0.0018113764456298975, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 42/100, elapsed time 0.98
[IterativeImputer] Change: 0.001475819682777324, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 43/100, elapsed time 1.00
[IterativeImputer] Change: 0.0012029338592985939, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 44/100, elapsed time 1.02
[IterativeImputer] Change: 0.0009808888481012135, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 45/100, elapsed time 1.05
[IterativeImputer] Change: 0.0008001188543151905, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 46/100, elapsed time 1.07
[IterativeImputer] Change: 0.0006528811905797127, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 47/100, elapsed time 1.08
[IterativeImputer] Change: 0.0005329029805699603, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 48/100, elapsed time 1.10
[IterativeImputer] Change: 0.00043509779151074124, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 49/100, elapsed time 1.12
[IterativeImputer] Change: 0.00035533800512388414, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 50/100, elapsed time 1.14
[IterativeImputer] Change: 0.00029027166100970003, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 51/100, elapsed time 1.15
[IterativeImputer] Change: 0.00023717487840402285, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 52/100, elapsed time 1.17
[IterativeImputer] Change: 0.0001938328430431957, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 53/100, elapsed time 1.19
[IterativeImputer] Change: 0.0001584436435108083, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 54/100, elapsed time 1.22
[IterativeImputer] Change: 0.0001295405616373868, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 55/100, elapsed time 1.25
[IterativeImputer] Change: 0.00010592911895590529, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 56/100, elapsed time 1.27
[IterativeImputer] Change: 8.663617485515918e-05, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 57/100, elapsed time 1.28
[IterativeImputer] Change: 7.086853684312722e-05, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 58/100, elapsed time 1.30
[IterativeImputer] Change: 5.7979480300729413e-05, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 59/100, elapsed time 1.31
[IterativeImputer] Change: 4.74415100786274e-05, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 60/100, elapsed time 1.33
[IterativeImputer] Change: 3.882424362067205e-05, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 61/100, elapsed time 1.35
[IterativeImputer] Change: 3.177642336349429e-05, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 62/100, elapsed time 1.37
[IterativeImputer] Change: 2.601129643098332e-05, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 63/100, elapsed time 1.38

[IterativeImputer] Change: 2.129470176925885e-05, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 64/100, elapsed time 1.40
[IterativeImputer] Change: 1.7435383233843638e-05, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 65/100, elapsed time 1.42
[IterativeImputer] Change: 1.4277094938619506e-05, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 66/100, elapsed time 1.44
[IterativeImputer] Change: 1.169216151875041e-05, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 67/100, elapsed time 1.46
[IterativeImputer] Change: 9.5762292241508e-06, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 68/100, elapsed time 1.48
[IterativeImputer] Change: 7.843996357892458e-06, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 69/100, elapsed time 1.49
[IterativeImputer] Change: 6.425723988900955e-06, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 70/100, elapsed time 1.51
[IterativeImputer] Change: 5.264372671343054e-06, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 71/100, elapsed time 1.52
[IterativeImputer] Change: 4.313309198922255e-06, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 72/100, elapsed time 1.53
[IterativeImputer] Change: 3.534370596747216e-06, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 73/100, elapsed time 1.55
[IterativeImputer] Change: 2.896342733427204e-06, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 74/100, elapsed time 1.56
[IterativeImputer] Change: 2.373685037970752e-06, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 75/100, elapsed time 1.58
[IterativeImputer] Change: 1.945498228406173e-06, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 76/100, elapsed time 1.61
[IterativeImputer] Change: 1.5946724930548939e-06, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 77/100, elapsed time 1.63
[IterativeImputer] Change: 1.3072090979671103e-06, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 78/100, elapsed time 1.64
[IterativeImputer] Change: 1.0716430902668606e-06, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 79/100, elapsed time 1.66
[IterativeImputer] Change: 8.785903959918073e-07, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 80/100, elapsed time 1.67
[IterativeImputer] Change: 7.20358817596356e-07, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 81/100, elapsed time 1.69
[IterativeImputer] Change: 5.90670554356798e-07, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 82/100, elapsed time 1.70
[IterativeImputer] Change: 4.843602187110108e-07, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 83/100, elapsed time 1.72
[IterativeImputer] Change: 3.97207500224539e-07, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 84/100, elapsed time 1.73
[IterativeImputer] Change: 3.2575485464647613e-07, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 85/100, elapsed time 1.75
[IterativeImputer] Change: 2.671744084858929e-07, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 86/100, elapsed time 1.77
[IterativeImputer] Change: 2.1914309566994916e-07, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 87/100, elapsed time 1.79
[IterativeImputer] Change: 1.7975183019824925e-07, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 88/100, elapsed time 1.80
[IterativeImputer] Change: 1.4745364929069638e-07, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 89/100, elapsed time 1.82
[IterativeImputer] Change: 1.2096542245654263e-07, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 90/100, elapsed time 1.84
[IterativeImputer] Change: 9.92387586551402e-08, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 91/100, elapsed time 1.85
[IterativeImputer] Change: 8.141893137469935e-08, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 92/100, elapsed time 1.87
[IterativeImputer] Change: 6.68012279936292e-08, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 93/100, elapsed time 1.88
[IterativeImputer] Change: 5.4812181682351024e-08, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 94/100, elapsed time 1.90
[IterativeImputer] Change: 4.497702466021991e-08, scaled tolerance: 4.9e-08
[IterativeImputer] Early stopping criterion reached.

In [12]:
dl1=pd.DataFrame(df2,columns=('sg','al','su','bgr','bu','sc','pot','hemo','pcv','rbcc'))

In [13]:
dl1.head(20)

       sg   al   su         bgr     bu    sc       pot  hemo   pcv      rbcc
0   1.020  1.0  0.0  121.000000   36.0   1.2  3.887843  15.4  44.0  5.200000
1   1.020  4.0  0.0  148.100155   18.0   0.8  2.713457  11.3  38.0  4.578317
2   1.020  0.0  0.0   92.000000   19.0   1.2  4.800000  14.9  48.0  5.400000
3   1.010  2.0  3.0  423.000000   53.0   1.8  4.115117   9.6  31.0  3.764384
4   1.005  4.0  0.0  117.000000   56.0   3.8  2.500000  11.2  32.0  3.900000
5   1.020  0.0  0.0   89.000000   42.0   0.5  5.000000  16.7  52.0  5.000000
6   1.010  2.0  0.0  106.000000   26.0   1.4  2.958864  11.6  35.0  4.600000
7   1.015  3.0  0.0   74.000000   25.0   1.1  3.200000  12.2  39.0  4.400000
8   1.025  0.0  0.0  124.000000   44.0   1.0  4.900000  14.9  41.0  5.700000
9   1.020  0.0  0.0  110.000000   50.0   0.7  5.000000  14.3  40.0  5.800000
10  1.020  0.0  0.0  122.000000   25.0   0.8  5.000000  17.1  41.0  5.200000
11  1.020  2.0  0.0   70.000000  107.0   7.2  3.700000   9.5  29.0  3.700000
12  1.010  2.0  4.0  490.000000   55.0   4.0  4.887741   9.4  28.0  3.600242
13  1.020  0.0  0.0  128.000000   30.0   1.2  4.500000  15.2  52.0  5.700000
14  1.020  0.0  0.0  137.000000   17.0   0.5  3.500000  13.6  44.0  4.500000
15  1.020  0.0  0.0  102.000000   27.0   0.7  4.900000  13.2  44.0  5.400000
16  1.025  0.0  0.0  132.000000   18.0   1.1  4.700000  13.7  45.0  5.600000
17  1.010  0.0  0.0  100.000000   54.0  24.0  4.000000  12.4  36.0  4.340591
18  1.015  2.0  4.0  410.000000   31.0   1.1  4.608194  12.4  44.0  5.000000
19  1.025  0.0  0.0   75.000000   22.0   0.8  5.000000  16.8  51.0  6.500000

In [14]:
df3=data.drop(columns=['sg','al','su','bgr','bu','sc','pot','hemo','pcv','rbcc','Label'])

In [15]:
df3

          rbc  htn   dm appet
0         NaN  yes  yes  good
1         NaN   no   no  good
2      normal   no   no  good
3      normal   no  yes  poor
4      normal  yes   no  poor
..        ...  ...  ...   ...
395    normal   no   no  good
396       NaN  yes  yes  good
397       NaN  yes   no  poor
398  abnormal  yes   no  good
399    normal   no   no  good

[400 rows x 4 columns]

In [16]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy='constant',fill_value='Missing')
df4=imputer.fit_transform(df3)

In [17]:
dl2=pd.DataFrame(df4,columns=('rbc','htn','dm','appet'))

In [18]:
dl2.head()

       rbc  htn   dm appet
0  Missing  yes  yes  good
1  Missing   no   no  good
2   normal   no   no  good
3   normal   no  yes  poor
4   normal  yes   no  poor

In [19]:
from sklearn.preprocessing import OrdinalEncoder
ordi=OrdinalEncoder()

In [20]:
dl3=ordi.fit_transform(dl2)

In [21]:
dl4=pd.DataFrame(dl3,columns=('rbc','htn','dm','appet'))

In [22]:
dl4

     rbc  htn   dm  appet
0    0.0  2.0  2.0    1.0
1    0.0  1.0  1.0    1.0
2    2.0  1.0  1.0    1.0
3    2.0  1.0  2.0    3.0
4    2.0  2.0  1.0    3.0
..   ...  ...  ...    ...
395  2.0  1.0  1.0    1.0
396  0.0  2.0  2.0    1.0
397  0.0  2.0  1.0    3.0
398  1.0  2.0  1.0    1.0
399  2.0  1.0  1.0    1.0

[400 rows x 4 columns]

In [23]:
x=pd.concat([dl1,dl4],axis=1)

In [24]:
x

,sg,al,su,bgr,bu,sc,pot,hemo,pcv,rbcc,rbc,htn,dm,appet
0,1.020000,1.000000,0.00000,121.000000,36.0,1.2,3.887843,15.400000,44.000000,5.200000,0.0,2.0,2.0,1.0
1,1.020000,4.000000,0.00000,148.100155,18.0,0.8,2.713457,11.300000,38.000000,4.578317,0.0,1.0,1.0,1.0
2,1.020000,0.000000,0.00000,92.000000,19.0,1.2,4.800000,14.900000,48.000000,5.400000,2.0,1.0,1.0,1.0
3,1.010000,2.000000,3.00000,423.000000,53.0,1.8,4.115117,9.600000,31.000000,3.764384,2.0,1.0,2.0,3.0
4,1.005000,4.000000,0.00000,117.000000,56.0,3.8,2.500000,11.200000,32.000000,3.900000,2.0,2.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,1.020000,0.000000,0.00000,91.000000,36.0,0.7,3.700000,14.000000,46.000000,5.800000,2.0,1.0,1.0,1.0
396,1.015000,3.000000,2.00000,463.000000,64.0,2.8,4.100000,12.200000,40.000000,4.600000,0.0,2.0,2.0,1.0
397,1.009923,2.442906,-0.02341,103.000000,79.0,5.3,6.300000,6.300000,19.000000,2.600000,0.0,2.0,1.0,3.0
398,1.015000,3.000000,0.00000,106.000000,215.0,15.2,5.700000,8.600000,26.000000,2.500000,1.0,2.0,1.0,1.0
399,1.020000,0.000000,0.00000,119.000000,15.0,0.7,4.900000,14.466224,44.185221,5.141794,2.0,1.0,1.0,1.0

In [25]:
y=df['Label']

In [26]:
a=pd.concat([x,y],axis=1)

In [27]:
a

,sg,al,su,bgr,bu,sc,pot,hemo,pcv,rbcc,rbc,htn,dm,appet,Label
0,1.020000,1.000000,0.00000,121.000000,36.0,1.2,3.887843,15.400000,44.000000,5.200000,0.0,2.0,2.0,1.0,ckd
1,1.020000,4.000000,0.00000,148.100155,18.0,0.8,2.713457,11.300000,38.000000,4.578317,0.0,1.0,1.0,1.0,ckd
2,1.020000,0.000000,0.00000,92.000000,19.0,1.2,4.800000,14.900000,48.000000,5.400000,2.0,1.0,1.0,1.0,notckd
3,1.010000,2.000000,3.00000,423.000000,53.0,1.8,4.115117,9.600000,31.000000,3.764384,2.0,1.0,2.0,3.0,ckd
4,1.005000,4.000000,0.00000,117.000000,56.0,3.8,2.500000,11.200000,32.000000,3.900000,2.0,2.0,1.0,3.0,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,1.020000,0.000000,0.00000,91.000000,36.0,0.7,3.700000,14.000000,46.000000,5.800000,2.0,1.0,1.0,1.0,notckd
396,1.015000,3.000000,2.00000,463.000000,64.0,2.8,4.100000,12.200000,40.000000,4.600000,0.0,2.0,2.0,1.0,ckd
397,1.009923,2.442906,-0.02341,103.000000,79.0,5.3,6.300000,6.300000,19.000000,2.600000,0.0,2.0,1.0,3.0,ckd
398,1.015000,3.000000,0.00000,106.000000,215.0,15.2,5.700000,8.600000,26.000000,2.500000,1.0,2.0,1.0,1.0,ckd
399,1.020000,0.000000,0.00000,119.000000,15.0,0.7,4.900000,14.466224,44.185221,5.141794,2.0,1.0,1.0,1.0,notckd

In [28]:
#a=a.sort_values(['bu'],ascending=False)
#a.reset_index(drop=True,inplace=True)

In [29]:
#a.tail(40)

In [30]:
Label={'notckd':0,'ckd':1}
a['Label']=a['Label'].map(Label)

In [31]:
a.head(20)

,sg,al,su,bgr,bu,sc,pot,hemo,pcv,rbcc,rbc,htn,dm,appet,Label
0,1.020,1.0,0.0,121.000000,36.0,1.2,3.887843,15.4,44.0,5.200000,0.0,2.0,2.0,1.0,1
1,1.020,4.0,0.0,148.100155,18.0,0.8,2.713457,11.3,38.0,4.578317,0.0,1.0,1.0,1.0,1
2,1.020,0.0,0.0,92.000000,19.0,1.2,4.800000,14.9,48.0,5.400000,2.0,1.0,1.0,1.0,0
3,1.010,2.0,3.0,423.000000,53.0,1.8,4.115117,9.6,31.0,3.764384,2.0,1.0,2.0,3.0,1
4,1.005,4.0,0.0,117.000000,56.0,3.8,2.500000,11.2,32.0,3.900000,2.0,2.0,1.0,3.0,1
5,1.020,0.0,0.0,89.000000,42.0,0.5,5.000000,16.7,52.0,5.000000,2.0,1.0,1.0,1.0,0
6,1.010,2.0,0.0,106.000000,26.0,1.4,2.958864,11.6,35.0,4.600000,2.0,1.0,1.0,1.0,1
7,1.015,3.0,0.0,74.000000,25.0,1.1,3.200000,12.2,39.0,4.400000,0.0,2.0,2.0,1.0,1
8,1.025,0.0,0.0,124.000000,44.0,1.0,4.900000,14.9,41.0,5.700000,2.0,1.0,1.0,1.0,0
9,1.020,0.0,0.0,110.000000,50.0,0.7,5.000000,14.3,40.0,5.800000,2.0,1.0,1.0,0.0,0
10,1.020,0.0,0.0,122.000000,25.0,0.8,5.000000,17.1,41.0,5.200000,2.0,1.0,1.0,1.0,0
11,1.020,2.0,0.0,70.000000,107.0,7.2,3.700000,9.5,29.0,3.700000,1.0,2.0,2.0,3.0,1
12,1.010,2.0,4.0,490.000000,55.0,4.0,4.887741,9.4,28.0,3.600242,0.0,2.0,2.0,1.0,1
13,1.020,0.0,0.0,128.000000,30.0,1.2,4.500000,15.2,52.0,5.700000,2.0,1.0,1.0,1.0,0
14,1.020,0.0,0.0,137.000000,17.0,0.5,3.500000,13.6,44.0,4.500000,2.0,1.0,1.0,1.0,0
15,1.020,0.0,0.0,102.000000,27.0,0.7,4.900000,13.2,44.0,5.400000,2.0,1.0,1.0,1.0,0
16,1.025,0.0,0.0,132.000000,18.0,1.1,4.700000,13.7,45.0,5.600000,2.0,1.0,1.0,1.0,0
17,1.010,0.0,0.0,100.000000,54.0,24.0,4.000000,12.4,36.0,4.340591,0.0,1.0,1.0,1.0,1
18,1.015,2.0,4.0,410.000000,31.0,1.1,4.608194,12.4,44.0,5.000000,2.0,1.0,2.0,1.0,1
19,1.025,0.0,0.0,75.000000,22.0,0.8,5.000000,16.8,51.0,6.500000,2.0,1.0,1.0,1.0,0

In [36]:
u=a.iloc[:,:-1]
v=a['Label']

In [40]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
k=scaler.fit_transform(u)

# Exhaustive Feature Selection

In [33]:
from mlxtend.feature_selection import ExhaustiveFeatureSelector
from sklearn.linear_model import LogisticRegression as LGR

In [37]:
feature_names=tuple(u.columns)
feature_names

('sg',
 'al',
 'su',
 'bgr',
 'bu',
 'sc',
 'pot',
 'hemo',
 'pcv',
 'rbcc',
 'rbc',
 'htn',
 'dm',
 'appet')

In [52]:
efs=ExhaustiveFeatureSelector(LGR(max_iter=20),min_features=1,max_features=14,scoring='accuracy',n_jobs=8,cv=3)

In [53]:
efs.fit(k,v,custom_feature_names=feature_names)

Features: 16383/16383

ExhaustiveFeatureSelector(cv=3, estimator=LogisticRegression(max_iter=20),
                          max_features=14, n_jobs=8)

In [56]:
best_feature=efs.best_feature_names_

In [57]:
best_feature

('sg', 'al', 'bgr', 'hemo', 'pcv', 'dm', 'appet')

In [55]:
df=pd.DataFrame.from_dict(efs.get_metric_dict()).T
df=df[['feature_idx','avg_score']]

In [51]:
df.tail(50)

                                          feature_idx avg_score
16333         (0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13)  0.994987
16334         (0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13)  0.994987
16335         (0, 1, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13)  0.994987
16336        (0, 1, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13)  0.994987
16337        (0, 1, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13)  0.994987
16338        (0, 1, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13)  0.987469
16339        (0, 1, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13)  0.994987
16340        (0, 1, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13)  0.994987
16341        (0, 1, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13)  0.994987
16342        (0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)  0.994987
16343         (0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)  0.992481
16344         (0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13)  0.994987
16345         (0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13)  0.992481
16346         (0, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13)  0.992481
16347        (0, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13)  0.992481
16348        (0, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13)  0.989975
16349        (0, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13)   0.97995
16350        (0, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13)  0.994987
16351        (0, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13)  0.989975
16352        (0, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13)  0.994987
16353        (0, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)  0.994987
16354        (0, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)  0.994987
16355         (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)  0.989975
16356         (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13)  0.989975
16357         (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13)  0.987469
16358         (1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13)  0.982494
16359        (1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13)  0.989975
16360        (1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13)  0.992481
16361        (1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13)    0.9925
16362        (1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13)  0.987469
16363        (1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13)  0.987469
16364        (1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13)  0.989975
16365        (1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)  0.987487
16366        (1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)  0.989975
16367        (2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)   0.97995
16368      (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)  0.997494
16369      (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13)  0.994987
16370      (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13)  0.994987
16371      (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13)  0.994987
16372     (0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13)  0.994987
16373     (0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13)  0.994987
16374     (0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13)  0.992481
16375     (0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13)  0.994987
16376     (0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13)  0.994987
16377     (0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13)  0.994987
16378     (0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)  0.994987
16379     (0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)  0.994987
16380     (0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)  0.994987
16381     (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)  0.989975
16382  (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)  0.994987

In [1]:
efs.best_score

NameError: name 'efs' is not defined