In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
import time

In [2]:
df=pd.read_csv("F:\Work\diease detection\chronic-1.csv")

In [3]:
df=df.replace('?',np.nan)

In [4]:
data=df[['sg','al','bgr','bu','sc','pot','hemo','pcv','rbcc','rbc','htn',
         'dm','Label']].copy()

In [5]:
#df1=df.drop(columns=['id','age','bp','sg','al','su','bgr','bu','sc','sod','pot','hemo','pcv','wbcc','rbcc'])

In [6]:
data

,sg,al,bgr,bu,sc,pot,hemo,pcv,rbcc,rbc,htn,dm,Label
0,1.02,1,121,36,1.2,NaN,15.4,44,5.2,NaN,yes,yes,ckd
1,1.02,4,NaN,18,0.8,NaN,11.3,38,NaN,NaN,no,no,ckd
2,1.02,0,92,19,1.2,4.8,14.9,48,5.4,normal,no,no,notckd
3,1.01,2,423,53,1.8,NaN,9.6,31,NaN,normal,no,yes,ckd
4,1.005,4,117,56,3.8,2.5,11.2,32,3.9,normal,yes,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,1.02,0,91,36,0.7,3.7,14,46,5.8,normal,no,no,notckd
396,1.015,3,463,64,2.8,4.1,12.2,40,4.6,NaN,yes,yes,ckd
397,NaN,NaN,103,79,5.3,6.3,6.3,19,2.6,NaN,yes,no,ckd
398,1.015,3,106,215,15.2,5.7,8.6,26,2.5,abnormal,yes,no,ckd
399,1.02,0,119,15,0.7,4.9,NaN,NaN,NaN,normal,no,no,notckd

In [7]:
df1=data.drop(columns=['rbc','htn','dm','Label'])

In [8]:
df1

        sg   al  bgr   bu    sc  pot  hemo  pcv rbcc
0     1.02    1  121   36   1.2  NaN  15.4   44  5.2
1     1.02    4  NaN   18   0.8  NaN  11.3   38  NaN
2     1.02    0   92   19   1.2  4.8  14.9   48  5.4
3     1.01    2  423   53   1.8  NaN   9.6   31  NaN
4    1.005    4  117   56   3.8  2.5  11.2   32  3.9
..     ...  ...  ...  ...   ...  ...   ...  ...  ...
395   1.02    0   91   36   0.7  3.7    14   46  5.8
396  1.015    3  463   64   2.8  4.1  12.2   40  4.6
397    NaN  NaN  103   79   5.3  6.3   6.3   19  2.6
398  1.015    3  106  215  15.2  5.7   8.6   26  2.5
399   1.02    0  119   15   0.7  4.9   NaN  NaN  NaN

[400 rows x 9 columns]

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [10]:
lr=LinearRegression()
imp=IterativeImputer(estimator=lr,verbose=2,max_iter=100, tol=1e-10, imputation_order='roman')

In [11]:
df2=imp.fit_transform(df1)

[IterativeImputer] Completing matrix with shape (400, 9)
[IterativeImputer] Ending imputation round 1/100, elapsed time 0.06
[IterativeImputer] Change: 101.70143499792194, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 2/100, elapsed time 0.08
[IterativeImputer] Change: 26.322011997999457, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 3/100, elapsed time 0.09
[IterativeImputer] Change: 12.873388501577294, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 4/100, elapsed time 0.11
[IterativeImputer] Change: 7.7032456719406746, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 5/100, elapsed time 0.12
[IterativeImputer] Change: 5.097678178000702, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 6/100, elapsed time 0.14
[IterativeImputer] Change: 3.8297612053238552, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 7/100, elapsed time 0.16
[IterativeImputer] Change: 2.8620913834944113, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 8/100, elapsed time 0.18
[IterativeImputer] Change: 2.1739272573336947, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 9/100, elapsed time 0.19
[IterativeImputer] Change: 1.7091014760378833, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 10/100, elapsed time 0.22
[IterativeImputer] Change: 1.3418642255572522, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 11/100, elapsed time 0.24
[IterativeImputer] Change: 1.050241584981837, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 12/100, elapsed time 0.27
[IterativeImputer] Change: 0.8193999468999067, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 13/100, elapsed time 0.28
[IterativeImputer] Change: 0.6375944094114168, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 14/100, elapsed time 0.30
[IterativeImputer] Change: 0.49508347047821033, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 15/100, elapsed time 0.31
[IterativeImputer] Change: 0.3838003730788664, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 16/100, elapsed time 0.33
[IterativeImputer] Change: 0.2971569187263121, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 17/100, elapsed time 0.35
[IterativeImputer] Change: 0.229846857058714, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 18/100, elapsed time 0.36
[IterativeImputer] Change: 0.1776437430036637, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 19/100, elapsed time 0.38
[IterativeImputer] Change: 0.1372089020196583, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 20/100, elapsed time 0.41
[IterativeImputer] Change: 0.10592068944326627, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 21/100, elapsed time 0.43
[IterativeImputer] Change: 0.08172936914556672, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 22/100, elapsed time 0.45
[IterativeImputer] Change: 0.0630373750875961, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 23/100, elapsed time 0.47
[IterativeImputer] Change: 0.04860243879014092, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 24/100, elapsed time 0.49
[IterativeImputer] Change: 0.03746024392763658, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 25/100, elapsed time 0.51
[IterativeImputer] Change: 0.02975796143978071, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 26/100, elapsed time 0.52
[IterativeImputer] Change: 0.023688317337589138, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 27/100, elapsed time 0.54
[IterativeImputer] Change: 0.018891093695408312, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 28/100, elapsed time 0.56
[IterativeImputer] Change: 0.015091351738826475, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 29/100, elapsed time 0.59
[IterativeImputer] Change: 0.012075468678382162, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 30/100, elapsed time 0.63
[IterativeImputer] Change: 0.009677027956631168, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 31/100, elapsed time 0.65
[IterativeImputer] Change: 0.007766054207379303, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 32/100, elapsed time 0.67
[IterativeImputer] Change: 0.006240778078893561, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 33/100, elapsed time 0.68
[IterativeImputer] Change: 0.005021319426918636, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 34/100, elapsed time 0.70
[IterativeImputer] Change: 0.00404482953789409, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 35/100, elapsed time 0.72
[IterativeImputer] Change: 0.00326174536267676, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 36/100, elapsed time 0.74
[IterativeImputer] Change: 0.0026339312183933927, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 37/100, elapsed time 0.76
[IterativeImputer] Change: 0.002129372291290399, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 38/100, elapsed time 0.78
[IterativeImputer] Change: 0.0017228176942717388, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 39/100, elapsed time 0.81
[IterativeImputer] Change: 0.0013948961437305618, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 40/100, elapsed time 0.82
[IterativeImputer] Change: 0.0011301477009965089, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 41/100, elapsed time 0.84
[IterativeImputer] Change: 0.0009162139990828155, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 42/100, elapsed time 0.86
[IterativeImputer] Change: 0.0007432008702579207, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 43/100, elapsed time 0.88
[IterativeImputer] Change: 0.0006031755902674574, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 44/100, elapsed time 0.89
[IterativeImputer] Change: 0.0004897694661868401, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 45/100, elapsed time 0.91
[IterativeImputer] Change: 0.00039786298342248116, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 46/100, elapsed time 0.93
[IterativeImputer] Change: 0.00032333596218159233, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 47/100, elapsed time 0.94
[IterativeImputer] Change: 0.0002628688381586253, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 48/100, elapsed time 0.96
[IterativeImputer] Change: 0.00021378433941909858, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 49/100, elapsed time 0.98
[IterativeImputer] Change: 0.00017392118304337956, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 50/100, elapsed time 1.01
[IterativeImputer] Change: 0.00014153307736486376, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 51/100, elapsed time 1.03
[IterativeImputer] Change: 0.00011520790870578335, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 52/100, elapsed time 1.04
[IterativeImputer] Change: 9.380290303950822e-05, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 53/100, elapsed time 1.06
[IterativeImputer] Change: 7.639263038183852e-05, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 54/100, elapsed time 1.07
[IterativeImputer] Change: 6.222717937531819e-05, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 55/100, elapsed time 1.09
[IterativeImputer] Change: 5.069850111316665e-05, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 56/100, elapsed time 1.10
[IterativeImputer] Change: 4.131330515666498e-05, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 57/100, elapsed time 1.11
[IterativeImputer] Change: 3.3671202918861276e-05, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 58/100, elapsed time 1.13
[IterativeImputer] Change: 2.744704863288927e-05, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 59/100, elapsed time 1.15

[IterativeImputer] Change: 2.2376701664494902e-05, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 60/100, elapsed time 1.18
[IterativeImputer] Change: 1.8245474295963682e-05, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 61/100, elapsed time 1.21
[IterativeImputer] Change: 1.487882474782154e-05, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 62/100, elapsed time 1.23
[IterativeImputer] Change: 1.2134804165286894e-05, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 63/100, elapsed time 1.25
[IterativeImputer] Change: 9.897924808766057e-06, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 64/100, elapsed time 1.26
[IterativeImputer] Change: 8.074190636198075e-06, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 65/100, elapsed time 1.28
[IterativeImputer] Change: 6.587101363586534e-06, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 66/100, elapsed time 1.29
[IterativeImputer] Change: 5.3743770781489175e-06, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 67/100, elapsed time 1.30
[IterativeImputer] Change: 4.385272257323436e-06, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 68/100, elapsed time 1.32
[IterativeImputer] Change: 3.5784798940730056e-06, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 69/100, elapsed time 1.33
[IterativeImputer] Change: 2.920323269095526e-06, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 70/100, elapsed time 1.35
[IterativeImputer] Change: 2.3833775349979547e-06, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 71/100, elapsed time 1.37
[IterativeImputer] Change: 1.9452735841030133e-06, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 72/100, elapsed time 1.39
[IterativeImputer] Change: 1.587795159907479e-06, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 73/100, elapsed time 1.40
[IterativeImputer] Change: 1.2960788035032422e-06, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 74/100, elapsed time 1.42
[IterativeImputer] Change: 1.0580112556057841e-06, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 75/100, elapsed time 1.44
[IterativeImputer] Change: 8.637137042244447e-07, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 76/100, elapsed time 1.45
[IterativeImputer] Change: 7.051318872131063e-07, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 77/100, elapsed time 1.47
[IterativeImputer] Change: 5.756890645303159e-07, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 78/100, elapsed time 1.48
[IterativeImputer] Change: 4.7002839553833553e-07, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 79/100, elapsed time 1.49
[IterativeImputer] Change: 3.8377154931712454e-07, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 80/100, elapsed time 1.51
[IterativeImputer] Change: 3.133583550418706e-07, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 81/100, elapsed time 1.53
[IterativeImputer] Change: 2.558708863675818e-07, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 82/100, elapsed time 1.55
[IterativeImputer] Change: 2.0893693464252294e-07, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 83/100, elapsed time 1.57
[IterativeImputer] Change: 1.7062189261451977e-07, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 84/100, elapsed time 1.59
[IterativeImputer] Change: 1.3933348674832757e-07, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 85/100, elapsed time 1.61
[IterativeImputer] Change: 1.1378060160716075e-07, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 86/100, elapsed time 1.62
[IterativeImputer] Change: 9.292041558417452e-08, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 87/100, elapsed time 1.63
[IterativeImputer] Change: 7.589112993588998e-08, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 88/100, elapsed time 1.65
[IterativeImputer] Change: 6.197526325468772e-08, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 89/100, elapsed time 1.66
[IterativeImputer] Change: 5.061709851261753e-08, scaled tolerance: 4.9e-08
[IterativeImputer] Ending imputation round 90/100, elapsed time 1.67
[IterativeImputer] Change: 4.1341636225489253e-08, scaled tolerance: 4.9e-08
[IterativeImputer] Early stopping criterion reached.

In [12]:
dl1=pd.DataFrame(df2,columns=('sg','al','bgr','bu','sc','pot','hemo','pcv','rbcc'))

In [13]:
dl1.head(20)

       sg   al         bgr     bu    sc       pot  hemo   pcv      rbcc
0   1.020  1.0  121.000000   36.0   1.2  4.124980  15.4  44.0  5.200000
1   1.020  4.0  193.920015   18.0   0.8  3.177379  11.3  38.0  4.564634
2   1.020  0.0   92.000000   19.0   1.2  4.800000  14.9  48.0  5.400000
3   1.010  2.0  423.000000   53.0   1.8  4.404026   9.6  31.0  3.769510
4   1.005  4.0  117.000000   56.0   3.8  2.500000  11.2  32.0  3.900000
5   1.020  0.0   89.000000   42.0   0.5  5.000000  16.7  52.0  5.000000
6   1.010  2.0  106.000000   26.0   1.4  2.903219  11.6  35.0  4.600000
7   1.015  3.0   74.000000   25.0   1.1  3.200000  12.2  39.0  4.400000
8   1.025  0.0  124.000000   44.0   1.0  4.900000  14.9  41.0  5.700000
9   1.020  0.0  110.000000   50.0   0.7  5.000000  14.3  40.0  5.800000
10  1.020  0.0  122.000000   25.0   0.8  5.000000  17.1  41.0  5.200000
11  1.020  2.0   70.000000  107.0   7.2  3.700000   9.5  29.0  3.700000
12  1.010  2.0  490.000000   55.0   4.0  5.029442   9.4  28.0  3.612513
13  1.020  0.0  128.000000   30.0   1.2  4.500000  15.2  52.0  5.700000
14  1.020  0.0  137.000000   17.0   0.5  3.500000  13.6  44.0  4.500000
15  1.020  0.0  102.000000   27.0   0.7  4.900000  13.2  44.0  5.400000
16  1.025  0.0  132.000000   18.0   1.1  4.700000  13.7  45.0  5.600000
17  1.010  0.0  100.000000   54.0  24.0  4.000000  12.4  36.0  4.303084
18  1.015  2.0  410.000000   31.0   1.1  3.750115  12.4  44.0  5.000000
19  1.025  0.0   75.000000   22.0   0.8  5.000000  16.8  51.0  6.500000

In [14]:
df3=data.drop(columns=['sg','al','bgr','bu','sc','pot','hemo','pcv','rbcc','Label'])

In [15]:
df3

          rbc  htn   dm
0         NaN  yes  yes
1         NaN   no   no
2      normal   no   no
3      normal   no  yes
4      normal  yes   no
..        ...  ...  ...
395    normal   no   no
396       NaN  yes  yes
397       NaN  yes   no
398  abnormal  yes   no
399    normal   no   no

[400 rows x 3 columns]

In [16]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy='constant',fill_value='Missing')
df4=imputer.fit_transform(df3)

In [17]:
dl2=pd.DataFrame(df4,columns=('rbc','htn','dm'))

In [18]:
dl2.head()

       rbc  htn   dm
0  Missing  yes  yes
1  Missing   no   no
2   normal   no   no
3   normal   no  yes
4   normal  yes   no

In [19]:
from sklearn.preprocessing import OrdinalEncoder
ordi=OrdinalEncoder()

In [20]:
dl3=ordi.fit_transform(dl2)

In [21]:
dl4=pd.DataFrame(dl3,columns=('rbc','htn','dm'))

In [22]:
dl4

     rbc  htn   dm
0    0.0  2.0  2.0
1    0.0  1.0  1.0
2    2.0  1.0  1.0
3    2.0  1.0  2.0
4    2.0  2.0  1.0
..   ...  ...  ...
395  2.0  1.0  1.0
396  0.0  2.0  2.0
397  0.0  2.0  1.0
398  1.0  2.0  1.0
399  2.0  1.0  1.0

[400 rows x 3 columns]

In [23]:
x=pd.concat([dl1,dl4],axis=1)

In [24]:
x

,sg,al,bgr,bu,sc,pot,hemo,pcv,rbcc,rbc,htn,dm
0,1.020000,1.000000,121.000000,36.0,1.2,4.124980,15.400000,44.00000,5.200000,0.0,2.0,2.0
1,1.020000,4.000000,193.920015,18.0,0.8,3.177379,11.300000,38.00000,4.564634,0.0,1.0,1.0
2,1.020000,0.000000,92.000000,19.0,1.2,4.800000,14.900000,48.00000,5.400000,2.0,1.0,1.0
3,1.010000,2.000000,423.000000,53.0,1.8,4.404026,9.600000,31.00000,3.769510,2.0,1.0,2.0
4,1.005000,4.000000,117.000000,56.0,3.8,2.500000,11.200000,32.00000,3.900000,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
395,1.020000,0.000000,91.000000,36.0,0.7,3.700000,14.000000,46.00000,5.800000,2.0,1.0,1.0
396,1.015000,3.000000,463.000000,64.0,2.8,4.100000,12.200000,40.00000,4.600000,0.0,2.0,2.0
397,1.010179,2.378587,103.000000,79.0,5.3,6.300000,6.300000,19.00000,2.600000,0.0,2.0,1.0
398,1.015000,3.000000,106.000000,215.0,15.2,5.700000,8.600000,26.00000,2.500000,1.0,2.0,1.0
399,1.020000,0.000000,119.000000,15.0,0.7,4.900000,14.546686,44.42638,5.157736,2.0,1.0,1.0

In [25]:
y=df['Label']

In [26]:
a=pd.concat([x,y],axis=1)

In [27]:
a

,sg,al,bgr,bu,sc,pot,hemo,pcv,rbcc,rbc,htn,dm,Label
0,1.020000,1.000000,121.000000,36.0,1.2,4.124980,15.400000,44.00000,5.200000,0.0,2.0,2.0,ckd
1,1.020000,4.000000,193.920015,18.0,0.8,3.177379,11.300000,38.00000,4.564634,0.0,1.0,1.0,ckd
2,1.020000,0.000000,92.000000,19.0,1.2,4.800000,14.900000,48.00000,5.400000,2.0,1.0,1.0,notckd
3,1.010000,2.000000,423.000000,53.0,1.8,4.404026,9.600000,31.00000,3.769510,2.0,1.0,2.0,ckd
4,1.005000,4.000000,117.000000,56.0,3.8,2.500000,11.200000,32.00000,3.900000,2.0,2.0,1.0,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,1.020000,0.000000,91.000000,36.0,0.7,3.700000,14.000000,46.00000,5.800000,2.0,1.0,1.0,notckd
396,1.015000,3.000000,463.000000,64.0,2.8,4.100000,12.200000,40.00000,4.600000,0.0,2.0,2.0,ckd
397,1.010179,2.378587,103.000000,79.0,5.3,6.300000,6.300000,19.00000,2.600000,0.0,2.0,1.0,ckd
398,1.015000,3.000000,106.000000,215.0,15.2,5.700000,8.600000,26.00000,2.500000,1.0,2.0,1.0,ckd
399,1.020000,0.000000,119.000000,15.0,0.7,4.900000,14.546686,44.42638,5.157736,2.0,1.0,1.0,notckd

In [28]:
#a=a.sort_values(['bu'],ascending=False)
#a.reset_index(drop=True,inplace=True)

In [29]:
#a.tail(40)

In [30]:
Label={'notckd':0,'ckd':1}
a['Label']=a['Label'].map(Label)

In [31]:
a.head(20)

,sg,al,bgr,bu,sc,pot,hemo,pcv,rbcc,rbc,htn,dm,Label
0,1.020,1.0,121.000000,36.0,1.2,4.124980,15.4,44.0,5.200000,0.0,2.0,2.0,1
1,1.020,4.0,193.920015,18.0,0.8,3.177379,11.3,38.0,4.564634,0.0,1.0,1.0,1
2,1.020,0.0,92.000000,19.0,1.2,4.800000,14.9,48.0,5.400000,2.0,1.0,1.0,0
3,1.010,2.0,423.000000,53.0,1.8,4.404026,9.6,31.0,3.769510,2.0,1.0,2.0,1
4,1.005,4.0,117.000000,56.0,3.8,2.500000,11.2,32.0,3.900000,2.0,2.0,1.0,1
5,1.020,0.0,89.000000,42.0,0.5,5.000000,16.7,52.0,5.000000,2.0,1.0,1.0,0
6,1.010,2.0,106.000000,26.0,1.4,2.903219,11.6,35.0,4.600000,2.0,1.0,1.0,1
7,1.015,3.0,74.000000,25.0,1.1,3.200000,12.2,39.0,4.400000,0.0,2.0,2.0,1
8,1.025,0.0,124.000000,44.0,1.0,4.900000,14.9,41.0,5.700000,2.0,1.0,1.0,0
9,1.020,0.0,110.000000,50.0,0.7,5.000000,14.3,40.0,5.800000,2.0,1.0,1.0,0
10,1.020,0.0,122.000000,25.0,0.8,5.000000,17.1,41.0,5.200000,2.0,1.0,1.0,0
11,1.020,2.0,70.000000,107.0,7.2,3.700000,9.5,29.0,3.700000,1.0,2.0,2.0,1
12,1.010,2.0,490.000000,55.0,4.0,5.029442,9.4,28.0,3.612513,0.0,2.0,2.0,1
13,1.020,0.0,128.000000,30.0,1.2,4.500000,15.2,52.0,5.700000,2.0,1.0,1.0,0
14,1.020,0.0,137.000000,17.0,0.5,3.500000,13.6,44.0,4.500000,2.0,1.0,1.0,0
15,1.020,0.0,102.000000,27.0,0.7,4.900000,13.2,44.0,5.400000,2.0,1.0,1.0,0
16,1.025,0.0,132.000000,18.0,1.1,4.700000,13.7,45.0,5.600000,2.0,1.0,1.0,0
17,1.010,0.0,100.000000,54.0,24.0,4.000000,12.4,36.0,4.303084,0.0,1.0,1.0,1
18,1.015,2.0,410.000000,31.0,1.1,3.750115,12.4,44.0,5.000000,2.0,1.0,2.0,1
19,1.025,0.0,75.000000,22.0,0.8,5.000000,16.8,51.0,6.500000,2.0,1.0,1.0,0

In [32]:
u=a.iloc[:,:-1]
v=a['Label']

# SMOTE Technique

In [33]:
from imblearn.over_sampling import SMOTE
from imblearn.over_sampling import SVMSMOTE

In [34]:
smote=SMOTE()
sm = SVMSMOTE()

In [35]:
x_train_resample,y_train_resample=sm.fit_resample(u,v)

In [36]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
k=scaler.fit_transform(x_train_resample)

In [37]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(k,y_train_resample,test_size=0.2, random_state=0)

In [38]:
from sklearn.model_selection import ShuffleSplit
fold=ShuffleSplit(n_splits=5, test_size=0.1, random_state=0)
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RandomizedSearchCV

# Support Vector Machine

In [49]:
from sklearn.svm import SVC
svm=SVC()
param_grid={'C':[0.1,1,10,100],'gamma':['scale'],'kernel':['rbf']}
svm_randomgrid=RandomizedSearchCV(estimator=svm,param_distributions=param_grid,verbose=1,n_jobs=-1,cv=fold)
svm_randomgrid.fit(x_train,y_train)
svm_randomgrid.best_estimator_, svm_randomgrid.best_score_

Fitting 5 folds for each of 4 candidates, totalling 20 fits

C:\Users\Md.Mustafizur Rahman\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:285: UserWarning: The total space of parameters 4 is smaller than n_iter=10. Running 4 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

(SVC(C=100), 1.0)

# K-Nearest Neighbors

In [40]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
param_grid={'n_neighbors':range(1, 21, 2),
            'weights':['uniform', 'distance'],
            'metric':['euclidean', 'manhattan', 'minkowski']}
knn_randomgrid=RandomizedSearchCV(estimator=knn,param_distributions=param_grid,verbose=4,n_jobs=6,cv=fold)
knn_randomgrid.fit(x_train,y_train)
knn_randomgrid.best_params_, knn_randomgrid.best_score_

Fitting 5 folds for each of 10 candidates, totalling 50 fits

({'weights': 'uniform', 'n_neighbors': 1, 'metric': 'manhattan'}, 1.0)

# Gradient Boosting

In [41]:
from sklearn.ensemble import GradientBoostingClassifier
gdb=GradientBoostingClassifier()
param_grid={'learning_rate':[0.01,0.05,0.1],
            'n_estimators':[100,200,300,400,500],
            'max_depth':[2,3,4,5,6,7,8],
            'min_samples_leaf':[4,8,10]}
gdb_randomgrid=RandomizedSearchCV(estimator=gdb,param_distributions=param_grid,verbose=1,n_jobs=-1,cv=fold)
gdb_randomgrid.fit(x_train,y_train)
gdb_randomgrid.best_params_, gdb_randomgrid.best_score_

Fitting 5 folds for each of 10 candidates, totalling 50 fits

({'n_estimators': 100,
  'min_samples_leaf': 4,
  'max_depth': 7,
  'learning_rate': 0.1},
 1.0)

# LightGBM

In [42]:
from lightgbm import LGBMClassifier
lgb=LGBMClassifier()
param_grid={'learning_rate':[0.05,0.1],
            'n_estimators':[100,200,300,400,500],
            'max_depth':[2,3,4,5,6,7,8,9,10],
            'min_child_weight':[1,3,5,7,9]}
lgb_randomgrid=RandomizedSearchCV(estimator=lgb,param_distributions=param_grid,verbose=True,n_jobs=4,cv=fold)
lgb_randomgrid.fit(x_train,y_train)
lgb_randomgrid.best_params_, lgb_randomgrid.best_score_

Fitting 5 folds for each of 10 candidates, totalling 50 fits

({'n_estimators': 300,
  'min_child_weight': 5,
  'max_depth': 7,
  'learning_rate': 0.1},
 0.9894736842105264)

# XgBoost

In [43]:
from xgboost import XGBClassifier
xgb=XGBClassifier()
param_grid={'learning_rate':[0.05,0.1,0.15,0.2,0.25],
            'n_estimators':[100,200,300,400,500,600,700],
            'max_depth':[2,3,4,5,6,7,8,9,10],
            'min_child_weight':[1,2,3,4,5,6,7,8,9],
            'eval_metric':['error']}
xgb_randomgrid=RandomizedSearchCV(estimator=xgb,param_distributions=param_grid,verbose=True,n_jobs=4,cv=fold)
xgb_randomgrid.fit(x_train,y_train)
xgb_randomgrid.best_params_, xgb_randomgrid.best_score_

Fitting 5 folds for each of 10 candidates, totalling 50 fits

C:\Users\Md.Mustafizur Rahman\anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

({'n_estimators': 500,
  'min_child_weight': 3,
  'max_depth': 5,
  'learning_rate': 0.2,
  'eval_metric': 'error'},
 0.9894736842105264)